<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ERP</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../CSS/s.css">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #000000e0 !important; position: relative">
            <a class="navbar-brand" href="javascript:history.go(0)" style="font-family: 'LEMON MILK'; src: url('./fonts/LEMONMILK-Medium.woff2') format('woff2'), url('./fonts/LEMONMILK-Medium.woff') format('woff'); font-size: 1.5vw; padding-left: 0.5%;"><strong>home</strong><span class="sr-only">(current)<</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: white !important"><i class="fa fa-bars" style="color:#fff; font-size:28px;"></i></span>
              </button>
        
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#" style="font-family: 'LEMON MILK'; src: url('./fonts/LEMONMILK-Medium.woff2') format('woff2'), url('./fonts/LEMONMILK-Medium.woff') format('woff'); font-size: 1.25vw; position: relative !important; color: white; margin-right: 10%;">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="font-family: 'LEMON MILK'; src: url('./fonts/LEMONMILK-Medium.woff2') format('woff2'), url('./fonts/LEMONMILK-Medium.woff') format('woff'); font-size: 1.25vw; ; color: white;">sign up<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
									<div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="#">LOGIN</a>
										<a class="dropdown-item" href="#">SIGN UP</a>
										
									</div>
								</li>
              </ul>
            </div>
          </nav>

    </head>
    <body>
        <div class="row" style="background-color: #00d9ff; width: 100% !important; margin-left: 0px !important;">     <!#00d9ff!>
            <div class="column">
                <h1 class="text" style="margin-top: 19% !important;"><strong>Welcome</strong></h1>
                <h1 class="text"><strong>To</strong></h1>
                <h1 class="text"><strong>Sasta VTOP</strong></h1>
            </div>
                <img class="column2" src="../Images/31610-NYCTCB.png" id="books" >
          </div>
          
          <div class="row" style=" width: 100% !important; margin-left: 0px !important;">
				
				
            <div class="box box-warning box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title text-center" style="font-weight: bold;">Spotlight</h4>
                </div>
                <div class="box-body">
                    
                        <ul class="news-slice">
                            <li class="text-primary news_card_text">
                            <p>
                                
                                
                                
                                    <a class="flash-link" target="_blank" href="javascript:void(0);" onclick="javascript:downLoadLink('downloadSpotLightViewFile/221');" style="color: #000000b0;">Updated online course Assessment schedule 22-04-2020</a>									
                                
                            </p>	
                            </li>
                        </ul>
                    
                        <ul class="news-slice">
                            <li class="text-primary news_card_text">
                            <p>
                                
                                
                                
                                    <a class="flash-link" target="_blank" href="javascript:void(0);" onclick="javascript:downLoadLink('downloadSpotLightViewFile/219');" style="color: #000000b0;">FAQs related to online courses offered this summer</a></p>									
                                
                            <p></p>	
                            </li>
                        </ul>
                    
                        <ul class="news-slice">
                            <li class="text-primary news_card_text">
                            <p>
                                
                                
                                
                                    <a class="flash-link" target="_blank" href="javascript:void(0);" onclick="javascript:downLoadLink('downloadSpotLightViewFile/205');"><font color="#333333" face="Cambria, serif"><span style="font-size: 16px;"><b>Permitting students with N2 /N4 for Arrear Examinations -&nbsp;</b></span></font><b style="color: rgb(51, 51, 51); background-color: rgb(249, 249, 249);"><span style="font-size: 12pt; line-height: 18.4px; font-family: Cambria, serif;" lang="EN-IN">Timed out and Present Final and Pre-Final Year FFCS / CAL students &amp; Approved Re-FATs - Registration and Fee payment is extended upto 01-05-2020.</span></b><br></a></p>									
                                
                            <p></p>	
                            </li>
                        </ul>
                    
                        <ul class="news-slice">
                            <li class="text-primary news_card_text" >
                                <a class="flash-link" target="_blank" href="javascript:void(0);" onclick="javascript:downLoadLink('downloadSpotLightViewFile/219');" style="color: #000000b0;">Last date for submitting the programme migration (applicable to 2019 admitted B.Tech students) application is extended till 02-06-2020</a>>
                             
                            </li>
                        </ul>
                    
                        <ul class="news-slice">
                            <li class="text-primary news_card_text">
                                <a class="flash-link" target="_blank" href="javascript:void(0);" onclick="javascript:downLoadLink('downloadSpotLightViewFile/205');" style="color: #000000b0;">Revised Academic Calendars for Winter 2019-2020, Special Term and Fall Semester 2020-2021 will be circulated shortly</a>
                                
                                
                                
                            <p></p>	
                            </li>
                        </ul>
                    
                </div>
            </div>
            
                                    
    </div>

    <div class="row" style=" width: 100% !important; margin-left: 0px !important; display: block; background: linear-gradient(to right,#00d9ff 0%,#00d9ff 50%,#000000 50%, #000000 100%);">
    
        <div class="lx" style="margin-top: 5vw;">
            <br>
            <div class="column3">
                <a href="../x.html"> <img src="../Images/Image_1.png" id="teacher" >
                    <h1 class="text" style="text-align: center; margin-left: 10vw !important;"><strong>student</strong></h1>
                </a>
            </div>
            <div class="column4">
               <a href="../x.html"> <img src="../Images/Image_2.png" id="student" >
                    <h1 class="text" style="text-align: center; margin-right: 10vw !important; color: #fff !important; margin-top: 3vw !important;"><strong>teacher</strong></h1>
                </a> 
            </div>
        </br>
        </div>

    </div>

    </body>
</html>