body {
  overflow: hidden;
}
.rectangle {
  left: 0vw;
  width: 18vw;
  min-height: 88vw;
  overflow-y: visible;
  background-color: rgb(206, 215, 217);
  position: absolute;
}
.verticle {
    position: absolute;
    width: 0.225vw;
    height: 42vw;
    left: 22.25vw;
    margin-top: 2vw;
    background-color: #FF6F00;
}
.horizontal {
  position: relative;
  height: 0.225vw;
  width: 75vw;
  left: 20vw;
  background-color: #FF6F00;
}
.horizontal2 {
  position: relative;
  height: 0.225vw;
  width: 75vw;
  left: 20vw;
  background-color: #FF6F00;
}
.panel {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.45vw;
  text-align: center;
  margin-top: 2.5vw;
  color:  #1d1c1cb2;
}
#B {
  margin-left: 4vw;
      border-radius: 25px;
      border: 2px solid cornflowerblue;
      width: 10vw;
}
/*#B:active {
  margin-left: 4vw;
  border-radius: 25px;
  border: 2px solid cornflowerblue !important;
  width: 10vw;
}*/
#M:hover + #B {
  margin-left: 4vw;
  border-radius: 25px;
  border: 2px solid rgb(206, 215, 217) !important;
  width: 10vw;
}
.panel:hover {
  margin-left: 4vw;
  border-radius: 25px;
  border: 2px solid cornflowerblue !important;
  width: 10vw;
}
a:link {
  text-decoration: none;
}
#CaRd {
  background-color: #f2f2f2;
  left: 22.475vw;
  height: 35vw;
  width: 72.5vw;
}
.card-body {
    padding: 1vw;
    padding-bottom: 0vw;
}
.gonz {
  padding-top: 3vw;
    padding-left: inherit;
    height: 29.5vw;
    width: 35%;
    float: left;
    opacity: 0.95;
}
.info {
  color: rgba(0, 0, 0, 0.733) !important;
  width: 55%;
  float: right;
  text-align: left;
  font-size: 1.5vw; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table {
  border-collapse: collapse;
  height: 100%;
  width: 90%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
th {
  font-weight: 500;
  text-align: left;
}
td {
  height: 20%;
  font-weight: 500;
}
.card-header {
  margin-top: 1vw;
  padding-left: 2vw;
  margin-left: -5vw;
  font-weight: 550;
  font-size: 1.45vw;
  border-width: medium;
}